ATLAS/setup/Baselines/Python/*/*
ATLAS/setup/Baselines/Python/*/*/*
ATLAS/setup/Baselines/Python/*/*/*/*
ATLAS/setup/Baselines/Python/*/*/*/*/*
ATLAS/setup/Baselines/*/*/*
ATLAS/setup/Baselines/*/*
ATLAS/data/matrix/A_matrix.csv
ATLAS/data/matrix/A_matrix.csv.mtd
ATLAS/data/matrix/B_matrix.csv
ATLAS/data/matrix/B_matrix.csv.mtd
ATLAS/data/matrix/C_matrix.csv
ATLAS/data/matrix/C_matrix.csv.mtd
ATLAS/data/matrix/D_matrix.csv
ATLAS/data/matrix/D_matrix.csv.mtd
ATLAS/data/matrix/X_matrix.csv
ATLAS/data/matrix/X_matrix.csv.mtd
