ATLAS/setup/Baselines/Python/*/*
ATLAS/setup/Baselines/Python/*/*/*
ATLAS/setup/Baselines/Python/*/*/*/*
ATLAS/setup/Baselines/Python/*/*/*/*/*
ATLAS/setup/Baselines/*/*/*
ATLAS/setup/Baselines/*/*
ATLAS/data/matrix/A_matrix.csv
ATLAS/data/matrix/A_matrix.csv.mtd
ATLAS/data/matrix/B_matrix.csv
ATLAS/data/matrix/B_matrix.csv.mtd
ATLAS/data/matrix/C_matrix.csv
ATLAS/data/matrix/C_matrix.csv.mtd
ATLAS/data/matrix/D_matrix.csv
ATLAS/data/matrix/D_matrix.csv.mtd
ATLAS/data/matrix/X_matrix.csv
ATLAS/data/matrix/X_matrix.csv.mtd
ATLAS/results/*
MEMORA/setup/Baselines/MEMORA/*
MEMORA/setup/Baselines/MEMORA/*/*
MEMORA/results/*
MEMORA/Calcite-Results/PostgreSQL/*
MEMORA/Calcite-Results/PostgreSQL/*/*
MEMORA/data/pgsql/*
MEMORA/data/pgsql/*/*
MEMORA/data/pgsql/*/*/*
MEMORA/data/pgsql/*/*/*/*

MEMORA/setup/Baselines/pgsql/*
MEMORA/setup/Baselines/pgsql/*/*
MEMORA/setup/Baselines/pgsql/*/*/*
MEMORA/setup/Baselines/pgsql/*/*/*/*
MEMORA/setup/Baselines/PostgreSQL-v18.3/*
MEMORA/setup/Baselines/PostgreSQL-v18.3/*/*
MEMORA/setup/Baselines/PostgreSQL-v18.3/*/*/*
MEMORA/setup/Baselines/PostgreSQL-v18.3/*/*/*/*
MEMORA/setup/Baselines/PostgreSQL-v18.3/*/*/*/*
MEMORA/setup/Baselines/PostgreSQL-v18.3/*/*/*/*/*
MEMORA/data/tpch/*